/* font import: */
@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap");

/* variabler */
:root {
  --hd-height: 75px;
  --mygreen: #3EFF8B;
  --mygrey: #303030;
  --desktop-bredde: 1200px;
  --tablet-bredde: 800px;
  --about-bredde: 500px;
}


/* reset */
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: Biryani, sans-serif;
  line-height: 1;
  height: 100%;
}

html {
  font-size: 62.5%; /* skriftstørrelse 10px */
  height: 100vh;
  background-color: var(--mygrey);
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

header {
  height: var(--hd-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mygreen);
  position: fixed;
  z-index: 1;
  box-shadow: 0px 5px 2px;
}

#header-title {
  font-size: 2.5rem;
  height: auto;
  position: absolute;
  left: 110px;
}

.nav-wrapper {
  background-color: var(--mygreen);
  width: 75px;
}

.nav-list {
  visibility: hidden;
  display: flex;
  width: auto;
  height: auto;
  list-style: none;
}

.nav-list li {
  padding: 0 1rem;
  font-size: 2rem;
}

.nav-list li a {
  text-decoration: none;
  color: var(--mygrey)
}

/* !!! "main" styling til index siden !!! */
.index {
  display: flex;
  flex-direction: column;
  background-color: var(--mygrey);
  position: relative;
  top: var(--hd-height);
  height: auto;
  width: 100%;
}

.content {
  height: 45vh;
  width: 100%;
  max-width: 1500px;
  background-color: var(--mygrey);
  position: relative;
  align-self: center;
}

.content-btn-R {
  right: 5%;
}

.content-btn-L {
  left: 5%;
}

.content-btn {
  height: auto;
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.5rem;
  background-color: var(--mygreen);
  font-weight: bold;
  position: absolute;
  bottom: 35%;
  border-radius: 4px;
  border-style: none;
  box-shadow: 4px 4px;
}


/* ommig.html */

/* !!!main styling til about side!!! */
.about {
  display: flex;
  flex-direction: column;
  background-color: var(--mygrey);
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.about-wrapper {
  position: relative;
  width: auto;
  max-width: var(--about-bredde);
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* profilbillede */
.about-wrapper > img {
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 40px;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: var(--hd-height);
  width: 80%;
  max-width: 500px;
  height: auto;
  align-self: center;
  text-align: center;
  margin: 30px 0;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 4px 4px 2px;
  background-color: var(--mygreen)
}

/* "hvem er jeg?" headeren */
#text-wrapper > h1 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 3rem;
  align-self: center;
  margin-bottom: 1rem;
}

#text-wrapper > p {
  position: relative;
  height: auto;
  width: auto;
  font-size: 1.5rem;
}

/* kontakt.html */

/* !!!main styling til about side!!! */
.contact {
  background-color: var(--mygrey);
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.contact-wrapper {
  height: auto;
  width: auto;
  background-color: var(--mygreen);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: var(--hd-height);
  margin-top: 30px;
  border-radius: 4px;
  box-shadow: 4px 4px 2px;

}

.contact-info {
  position: relative;
  height: auto;
  width: 275px;
  margin: 0;
  padding: 5px 15px;
  display: flex;
  align-items: center;
}

.contact-icon {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: var(--mygrey);
}

.contact-info p {
  font-size: 2rem;
  height: auto;
  padding-top: 0.5rem;
  margin-left: 5px;
}
/* tablet bredde */
@media (min-width: 800px) {
  header {
    align-self: center;
  }

  main {
    align-self: center;
  }
}

/* desktop bredde */
@media (min-width: 1200px) {
  header {
    max-width: var(--desktop-bredde);
    align-self: center;
    border-radius: 0px 0px 4px 0px;
  }

  main {
    align-self: center;
    max-width: var(--desktop-bredde);
    width: 100%;
  }

 .content {
   align-self: center;
   width: 100%;
 }

  .burger-wrapper {
    visibility: hidden;
  }

  .nav-wrapper {
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list {
    visibility: visible;
  }

}
