body {
  line-height: 1;
  color: black;
  background: #474747;
  }

header {
  height: 50px;
  background-color: #3EFF8B;
}

footer {
  height: 50px;
  background-color: orange;
}

main {
  height: 500px;
  background-color: red;
}
