body {
  margin: 0;
  padding: 0px;
  line-height: 1;
  color: black;
  background: #474747;
  }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
  "hd hd hd"
  "nav nav nav"
  "sd main main"
  "ft ft ft";
}

.sidebar {
padding: 5px;
  background-color: #228CDB;
  border-radius: 10px;
  grid-area: sd;
}

header {
  height: auto;
  background-color: #3EFF8B;
  padding: 5px;
  grid-area: hd;
}

main {
  padding: 10px;
  height: ;
  background-color: #9E2A2B;
  border-radius: 10px;
  grid-area: main;
}

nav {
  padding: 5px;
  height: auto;
  background-color: #ff3eb2;
  border-radius: 10px;
  grid-area: nav;
  display: flex;
  justify-content: center;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #F6BE9A;
  position: fixed;
  bottom: 0px;
  grid-area: ft;
}

.nav-ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin:0;
  background-color: #ff3eb2;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav-ul li {
  display: flex;
  align-items: center;
}
